[Unit]
Description=Dog Bot Service
After=network.target
StartLimitIntervalSec=0

[Service]
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dog-bot
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/dog-bot
ExecStart=/usr/local/bin/clj -m dog-bot.scraper

[Install]
WantedBy=multi-user.target
